.playPads{
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    margin: 1vh;
    height: 50vh;
}

@media (max-width: 850px) {

    .playerPads{
        padding-top: 1vh;
        display: flex;
        justify-content: center;
        margin: 1vh;
        height: 50vh;
    }
}