.playPad{
    height: 8.5em;
    width: 8.5em;
    margin: 5px;
    border-radius: 10%;
}


@media (max-width: 850px) {
    .playPad{
        height: 5em;
        width: 5em;
        margin: 5px;
        border-radius: 10%;

    }
  }