

.donut__practice{
    height: 100vh;
    background-color: #E5E5E5
    ;
}

.donut__transportButtons{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

.donut__transportButtons__buttonBox{
    display: flex;
    flex-flow: column;
}

.donut__playerPads{
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    margin: 1vh;
    height: 50vh;
}




.donut__toggleSounds{
    margin-top: 19vh;
    border-top: 2px solid black;
    /* padding-bottom: 9vh; */
}

.donut__toggleMode{
    margin-top: 7vh;
    border-top: 2px solid black;
    padding-bottom: 9vh;
}

@media (max-width: 850px) {
    .donut__playerPads{
        padding-top: 5vh;
        display: flex;
        justify-content: center;
        margin: 1vh;
        height: 50vh;
    }

    .donut__progressBar{
        padding-top: 2vh;
    }
    .donut__transportButtons{
        /* border: 2px solid green; */
        display: flex;
        justify-content: space-evenly;
        padding-top: 3vh;
        padding-bottom: 1vh;
    }


    .donut__toggleSounds{
        margin-top: 5vh;
        border-top: 2px solid black;
        /* padding-bottom: 9vh; */
    }

    .donut__toggleMode{
        margin-top: 10vh;
        border-top: 2px solid black;
        padding-bottom: 9vh;
    }

  }