.donut__practice{
    margin: 2vh;
    border: 2px solid blue;
    height: 90vh;
}

.donut__transportButtons{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
}

.donut__transportButtons__buttonBox{
    display: flex;
    flex-flow: column;
}

.donut__playerPads{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    margin: 1vh;
    height: 50vh;
}