.trackTogglers{
    display: flex;
    flex-flow: row;
    justify-content: center;
}



@media (max-width: 850px) {
    .trackTogglers{
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

}